/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #000;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    color: #000;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.intro-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.intro-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.project-title {
    font-size: 1em;
    margin-bottom: 10px;
}

#intro h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 10px 0;
}

.sub-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.study-field, .year {
    font-size: 1em;
}

#intro img {
    width: 150px;
    height: auto;
}

#demo {
    padding: 50px 20px;
    background-color: #fff;
    color: #000;
}

.demo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

#demo h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #d3cbb8;
    color: #000;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c2b8a3;
}

.hidden {
    display: none;
}

/* Responsive Design */
@media (min-width: 600px) {
    #intro h1 {
        font-size: 4em;
    }

    .project-title, .study-field, .year {
        font-size: 1.2em;
    }

    #intro img {
        width: 200px;
    }

    button {
        font-size: 1.2em;
    }

    .buttons-container {
        flex-direction: row;
    }
}


.video-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.video-page h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.video-page iframe {
    width: 80%;
    max-width: 800px;
    height: 450px;
    border: none;
}

.video-page button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.video-page button:hover {
    background-color: #0056b3;
}
